#verde{
    color: rgba(0, 128, 21, 0.87);
}

.barra{
    margin-left: 50px;
}

.card-img{
    height: 600px;
    opacity: 0.4;
}

.card-img-overlay{
    text-align: end;
    padding: 200px 100px 0 0;
}

.h2{
    text-align: center;
}

.celeste{
    color: white;
}

.gris{
    background-color: rgb(46, 42, 42);
    color: white
}

.arreglo{
    padding: 0px 120px;
}

#exampleFormControlTextarea1{
    width: 50%;
    margin: auto;
    
}

.ignite{
    text-align: center;
}
.raya{
    text-decoration: underline;
}

.reco{
    text-align: center;
   font-size: 12px;
}

.btn-form{
    width: 50%;
    margin-left: 300px;
    background-color: rgb(137, 207, 31);
    border: none;
    
}

.pie{
    margin-top: 20px;
    background-color: rgb(17, 63, 133);
    opacity: 0.8;
    
}

.colo{
    color: aliceblue;
}



#descuento{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 30px;
}

#caja-1{
    margin: 10px;
    height: 200px;
    width: 200px;
    border: solid rgb(0, 153, 255);
}

#caja-2{
    height: 200px;
    width: 200px;
    border: solid green;
}

#caja-3{
    margin: 10px;
    height: 200px;
    width: 200px;
    border: solid yellow;
}

.catEstudiante{
    margin: 10px;
    text-align: center;
}

.valorDeDescuento{
    margin: 20px;
    text-align: center;
}

.formularioDescuento{
    justify-content: center;
    align-items: center;
}

.botones-form{
    margin-left: 430px;
    justify-content: center;
    align-items: center;
    
}

.totalAPagar{
    background-color: rgb(21, 212, 212);
    height: 60px;
}

#pagarTotal{
    height: 50px;
    width: 500px;
    background-color: aqua;
}